
<div class="container">
<form class="form-control" action="/api/shoes/add" method="post">
  shoe id :<input type="Number" name="id" value="">
  color :<input type="text" name="color" value="">
  brand :<input type="text" name="brand" value="">
  price :<input type="Number" name="price" value="">
  size :<input type="Number" name="size" value="">
  stock :<input type="Number" name="in_stock" value="">
  <input type="submit" name="name" value="Submit">

</form>
</div>
